    @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

    /*==== GLOBAL ==== */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(27, 60, 83);
    color: rgb(227, 227, 227);
    font-family: 'Bitcount Grid DOuble';
}

.container {
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container h1 {
    margin-bottom: 30px;
    font-size: 55px;
}

.container p {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.button-Play-Game {
    background-color: rgb(69, 104, 130);
    height: 50px;
    width: 110px;
    border-radius: 7px;
    box-shadow: 3px 2px 2px rgb(227, 227, 227);
    border: 2px solid rgb(227, 227, 227);
    font-size: medium;
    letter-spacing: 2px;
}
.button-Play-Game a {
    background-color: rgb(69, 104, 130);
    text-decoration: none;
}

/* ! ==== GAME CSS ==== */

.body-pages-game {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.config {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border: 2px solid rgb(227, 227, 227);
    border-radius: 6px;
    background-color: rgb(69, 104, 130);
    letter-spacing: 2px;
    position: relative;
    left: 400px;
}

.config-title {
    margin: 0;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    background-color: rgb(69, 104, 130);
}

/*==== SETTINGS ====*/
.config-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    background-color: rgb(69, 104, 130);
    justify-items: center;
}

/* Botões padrão */
.config-options button {
    width: 100%;
    background-color: rgb(27, 60, 83);
    border-radius: 30px;
    border: 2px solid rgb(227, 227, 227);
    letter-spacing: 2px;
    color: rgb(227, 227, 227);
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

/* Botões de tempo/dificuldade */
.config-options button:not(.primary-action) {
    width: 100%;
    padding: 10px;
}

.config-options button:hover {
    transform: scale(1.05);
    background-color: rgb(227, 227, 227);
    color: rgb(27, 60, 83);
}

.config-options .primary-action {
    grid-column: span 2;
    width: fit-content; /* ou auto */
    padding: 8px 60px; /* Mais largo horizontalmente */
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}


/* * ==== Chess-Board ==== */

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
}

.square {
    height: 50px;
}

.light { background: #eee; }
.dark  { background: #444; }
